<!-- Card widget -->
div.card 
    <!-- Face 2 -->
    div.card-face.face-2
        <!-- Menu trigger -->
        button(data-card-menu).card-face__menu-button
            img(src='http://imgh.us/dots_1.svg' width='5' height='30' draggable='false')
        <!-- Avatar -->
        div.card-face__avatar
            <!-- Bullet notification -->
            span.card-face__bullet 2
            <!-- User avatar -->
            img(src='http://imgh.us/dave_round_profile.png' width='110' height='110' draggable='false')
        <!-- Name -->
        h2.card-face__name David Penny
        <!-- Title -->				
        span.card-face__title 1-587-501-4746 </br>dpenny17@gmail.com</br>
        <!-- Cart Footer -->
        div.card-face-footer

            a.card-face__social(href='tel:+15875014746' target='_blank')
                img(src='https://lh3.googleusercontent.com/-t3KBUty34ywjdpkEY5a1FUF8-UltPbiq2c3IMcVluHdmiMpqLFBC2gnyYAFIy4oKw=w300' width='36' height='36' draggable='false')
            a.card-face__social(href='mailto:dpenny17@gmail.com' target='_blank')
                img(src='https://cdn.mobipicker.com/wp-content/uploads/2016/02/google-messenger.png' width='36' height='36' draggable='false')
            a.card-face__social(href='https://m.me/dave.penny' target='_blank')
                img(src='https://maxcdn.icons8.com/Share/icon/Logos//facebook_messenger1600.png' width='36' height='36' draggable='false')
								
    <!-- Face 1 -->
    div.card-face.face-1
        <!-- Menu trigger -->
        button(data-card-menu).card-face__menu-button
            img(src='http://imgh.us/account-plus.svg' width='30' height='30' draggable='false')

        <!-- Avatar -->
        div.card-face__avatar
            <!-- Bullet notification -->
            span.card-face__bullet 2
            <!-- User avatar -->
            img(src='http://imgh.us/dave_round_profile.png' width='110' height='110' draggable='false')
        <!-- Name -->
        h2.card-face__name David Penny
        <!-- Title -->
        span.card-face__title Web Designer & Developer </br>Proximity Specialist</br>App Developer </br>Mobile Wallet Guru
        <!-- Cart Footer -->
        div.card-face-footer
            a.card-face__social(href='https://pulsedavid.github.io/portfolio' target='_blank')
                img(src='http://imgh.us/Chrome-48.png' width='36' height='36' draggable='false')
            a.card-face__social(href='https://www.youtube.com/' target='_blank')
                img(src='http://imgh.us/YouTube-48.png' width='36' height='36' draggable='false')
            a.card-face__social(href='https://github.com/pulsedavid' target='_blank')
                img(src='http://imgh.us/GitHub-48.png' width='36' height='36' draggable='false')